<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="Constancia">
        <div class="constancia">
            <div class="Titulo">
                <h3>Constancia</h3>
            </div>
            <div class="Context">
                <h3>se le otorga la presente <br><span>CONSTANCIA</span><br> a:</h3>
                <input type="text" [(ngModel)]="Nombre"><br>
                <h3>por haber concluido satisfactoriamente <br><span>EL CURSO</span></h3>
                <input type="text" [(ngModel)]="Tipo"><br>
                <h3>Nombre del <span>CURSO</span> a:</h3>
                <input type="text" [(ngModel)]="Curso"><br>
            </div>
        </div>
        <div class="boton">
            <input type="button" value="Imprimir" (click)="constancia()">
        </div>
        <br>
    </section>
</body>
</html>