.foto{
    text-align: center;
}
.foto img{
    width: 200px;
    border-radius: 20px;
}
.todo{
    text-align: justify;
    margin: 2rem 3rem;
    display: flex;
}
.info{
    width: 30%;
    margin: 0 8%;
}
.info2{
    width: 30%;
    margin: 0 8%;
}