<div class="Redes-Sociales">
    <div class="parce">
        <a href="https://www.facebook.com/Neutroegaymer/"><img src="./assets/facebook.png" alt=""></a>
    </div>
    <div class="parce">
        <a href="https://www.instagram.com/0101001010a14p2/"><img src="./assets/instagram.png" alt=""></a>
    </div>
    <div class="parce">
        <a href="https://web.whatsapp.com/"><img src="./assets/whatsapp.png" alt=""></a>
    </div>
    <div class="parce">
        <a href="https://web.telegram.org/z/"><img src="./assets/telegram.png" alt=""></a>
    </div>
</div>