<div class="presentacion">
    <h1 class="titulo">Mi <span>Presentación</span></h1>
    <p class="redaccion"><span>Este soy yo:</span> Soy un dios que se convirtio en alumno en este mundo todo mortal, ahora soy un chico normal, con varios defectos de personalidad, pero muy bien controlados.
        Estoy en 8° Semestre y tengo que hacer esta tarea para que el profesor memo me ponga un 70 y asi ya relajarme por hoy.
        Prefiero estar solo, en un sitio tranquilo y sin ningun ruido.
    </p>
</div>