<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="RMedica">
        <div class="Medic">
            <div class="Tiulo">
                <h3>Receta Medica</h3>
            </div>
            <div class="context">
                <img src="./assets/Doctor.png" alt="" style="width: 10%; float: left;">
                <img src="./assets/Doctor.png" alt="" style="width: 10%; float: right;">
                <h1>Consultorio el Kriko</h1>
                <p>DR. Chapatin Criko Marin, prof 0000 0000, Universidad Mexicana <br>Alámo No. 123, Col. Valles, Mexico, Ags. Tel: 666</p>
                <p class="line">.  .</p>
            </div>
            <div class="contenido">
                <p>Nombre Completo del paciente: <input type="text" [(ngModel)]="Paciente" style="width: 70%;"><br>
                Edad: <input type="text" [(ngModel)]="Edad"> Sexo: <input type="text" [(ngModel)]="Sexo">
                Alergias: <input type="text" [(ngModel)]="Alergias" style="width: 54%;"><br>
                Talla: <input type="text" [(ngModel)]="Talla"> Peso: <input type="text" [(ngModel)]="Peso">
                IMC: <input type="text" [(ngModel)]="_IMC"> Temperatura: <input type="text" [(ngModel)]="Temp">
            Presión Arterial: <input type="text" [(ngModel)]="PArterial"><br>
            Diagnóstico: <input type="text" [(ngModel)]="Diagnostico" style="width: 85%;"></p>
            </div>
            <table>
                <p>Tratamiento: <br><textarea rows="7" cols="110" [(ngModel)]="Medicamento"></textarea></p>
            </table>
        </div>
        <div class="boton">
            <input type="button" value="Imprimir" (click)="RMedica()">
        </div>
    </section>
</body>
</html> -->
    <p *ngFor="let array1 of array1">{{array1}}</p>
    <p *ngFor="let marcas of marcas">{{marcas}}</p>
    <p *ngFor="let nombre of nombre">{{nombre}}</p>
    <p *ngFor="let mix of mix">{{mix}}</p>
    <p *ngFor="let obj of obj">{{obj.apellido}}
        <br>{{obj.edad}} <br>
        {{obj.nombre}} <br>
        {{obj.signo}}
    </p>

    <p *ngIf="edad <=18">
        Menor de edad
    </p>
    <p *ngIf="color =='verde'">
        verde
    </p>
    <p *ngIf="edad >=18">
        mayor de edad
    </p>
    <p *ngIf="color2 == 'violeta'">
         violeta
    </p>
    <p *ngIf="pregunta == 'acepto'">
        pues ya mamo
    </p>