<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <h2>Portada</h2>
    <div class="boton">
        <input type="button" value="Imprimir" (click)="print()">
    </div>
</body>

</html>