@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.Titulo .image img{
    width: 6rem;
}
span{
    font-family: 'Dancing Script', cursive;
    color: rgb(249, 249, 249);
} 
.boton{
    margin-top: 40px;
    text-align: center;
}
.boton input{
    padding: 10px;
    background: rgb(187, 67, 67);
    border-radius: 20px;
    border-color: white;
    color: white;
}
.boton input:hover{
    padding: 12px;
    transition: 0.3s;
}
.Constancia{
    border-radius: 20px;
    margin: 10px 20%;
    text-align: center;
    max-width: 70%;
    background: rgb(78, 216, 212);
}
.RMedica{
    border-radius: 20px;
    margin: 10px 20%;
    max-width: 70%;
    padding: 10px;
    background: rgb(78, 216, 212);
}
.RMedica .context{
    text-align: center;
}
.Medic{
    margin: 20px;
}
.Medic input{
    width: 9%;
    margin: 5px;
}
.line{
    background-color: white;
    color: white;
    font-size: 1px;
}
table{
    border: 1px solid white;
    width: 100%;
    height: 10rem;
}